@import "../../styles/styles";

.page-change-password {

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-item {
    .input-container {
      padding-top: 32px;
      position: relative;

      .wrap-error-text {
        position: absolute;
        bottom: -32px;
        left: 332px;
      }

      .wrap-input-text {
        .wrap-label-text {
          padding: 12px 42px 13px 19px;

        }
      }
    }
  }

  &__old-password {
    .input-container, .popover-text-label {
      padding-top: 10px;
    }
  }

  .input-container .wrap-input-text .wrap-label-text, .popover-text-label__label {
    width: 334px;
  }

  &__new-password {
    padding-top: 30px;
  }

  &__change-password {
    padding-top: 50px;
  }

  &__content {
    padding-top: 100px;
  }
}
