@import '../../styles/styles';

.setup-alert {
  min-width: 1280px;
  &__main {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }

  &__search {
    display: flex;
    flex-direction: row;
    background-color: $white;
    border-radius: 15px;
    padding: 8px 8px;
    margin-bottom: 16px;
  }

  &__lablel {
    display: flex;
    align-items: center;
    height: $heightInput;
    padding: 0 24px;
    background-color: $white;
    font-weight: $medium-weight;
    color: $blue001440;
    white-space: nowrap;

    @media (min-width: 1920px) {
      height: $maxHeightInput;
    }
  }

  &__table {
    --input-border-radius: 11px;
    .table-scroll {
      height: calc(85vh - 150px);
    }
    .table-data__table-main-body td {
      padding: 0.38vh;
    }
  }
}
