@import '../../../styles/styles.scss';

.sidebar-store-journal {
  position: fixed;
  height: 100%;
  top: calc(64px + 24px);
  left: -367px;
  z-index: 100;
  // padding-right: 40px;

  .sidebar-store {
    height: 100%;
    border-top-right-radius: 20px;
    overflow-y: hidden;
  }

  transition: all 0.3s ease;
  @include center();

  @media (max-width: 1600px) {
    --width-sidebar: 300px;
    left: -300px;
  }

  &__expand-button {
    width: 24px;
    height: 100px;
    padding: 4px;
    background-color: $blue545F95;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    path {
      fill: $white;
    }
  }

  &__expanded {
    left: 0;
    padding-right: 20px;

    .sidebar-store-journal__expand-button {
      svg {
        rotate: 180deg;
      }
    }
  }
}
