@import '../../styles/styles';

.sales-report {
  width: 100%;
  padding-left: 24px;
  --input-height: 50px; // css height for input date

  &__condition {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $white;
    padding: 8px;
    border-radius: 15px;

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;

      .wrap-radio {
        display: flex;

        .label-radio {
          margin: 0;
          margin-right: 20px;
          color: $blue001440;
          font-weight: 500;

          .require {
            color: $redBC1C42;
          }
        }
      }

      .dropdown-container {
        min-width: 410px;
      }

      .wrap-button-search {
        .search-btn {
          float: right;
        }
      }

      .space-date {
        font-size: 50px;
      }
    }
  }

  &__button-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    .wrap-btn-expand {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .wrap-btn-text {
      display: flex;
      align-items: center;
      gap: 16px;

      .total-stores {
        color: $blue001440;
        font-weight: 500;
      }
    }
  }

  &__table {
    margin-top: 16px;
  }
  // css table

  .table-data {
    margin-top: 16px;

    [data-index] {
      tr.total-row {
        td {
          background-color: #f7f7a8;
        }
      }
    }

    .table-scroll {
      height: calc(100vh - 364px);
    }

    &__row-data {
      height: 44px;
    }
  }
}
