@import '../../../styles/styles';

.cash-report {
  max-height: calc(100vh - 236px);
  display: flex;
  position: relative;
  padding-left: 24px;

  .right-header {
    background-color: $blueB0B9D7;
    height: 52px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 15px;
    z-index: 1;

    @media (max-width: 1525px) {
      height: 88px;
    }
  }

  // Margin top scroll bar vs header table when none scroll
  ::-webkit-scrollbar-track {
    margin-top: 60px;

    // Margin top scroll bar vs header table when none scroll and header has 2 row
    @media (max-width: 1525px) {
      margin-top: 100px;
    }
  }

  .color-additional-cash {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 42px;
    position: fixed;
    bottom: 0;
    right: 24px;
    padding: 16px 0;

    @media (max-width: 870px) {
      position: fixed;
      bottom: 24px;
      right: 24px;
    }

    @media (max-height: 760px) {
      padding: 8px 0;
    }

    .not-add-cash {
      background-color: $orangeFFEEB9;
      display: inline-block;
      width: 120px;
      border: 1px solid $grey707070;
      height: 42px;

      @media (max-width: 970px) {
        width: 80px;
      }
    }

    .add-cash {
      background-color: $yellowFFFF99;
      display: inline-block;
      width: 120px;
      border: 1px solid $grey707070;
      height: 42px;

      @media (max-width: 970px) {
        width: 80px;
      }
    }

    .padding-left {
      padding-left: 11px;
    }

    .set-cash {
      display: flex;
      align-items: center;
    }
  }

  .cash-table-container {
    width: 100%;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $blueF6F8FD;

    .table-cash-setting {
      border-collapse: collapse;
      margin-bottom: 0;

      .title-table {
        position: sticky;
        top: 0;
        z-index: 2;
      }

      .header-table {
        vertical-align: middle;
        text-align: center;
      }

      .header-setting {
        background-color: $blueB0B9D7;
        border: none;
        color: $blue001440;
        font-weight: $medium-weight;
        height: fit-content;
        flex-grow: 1;
        box-sizing: border-box;
      }

      .cash-no {
        vertical-align: middle;
      }

      .cash-type {
        vertical-align: middle;
        border-left: 3px solid $blueB0B9D7;
      }

      .cash-thousand-count {
        text-align: end;
        vertical-align: middle;
        border-left: 3px solid $blueB0B9D7;
        max-width: 200px;
      }

      .cash-last-accessed-date {
        text-align: center;
        vertical-align: middle;
        border-left: 3px solid $blueB0B9D7;
      }

      .data-item {
        background-color: $blueF6F8FD;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $black464646;
        font-weight: $medium-weight;
        padding: 4px 8px;
      }

      .box-needs-refill {
        background-color: $orangeFFEEB9;
      }

      .box-no-refill-required {
        background-color: $yellowFFFF99;
      }

      .red-text {
        color: $redBC1C42;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        font-weight: $medium-weight;
      }
    }
  }
}

.cash-report-exceed {
  max-height: calc(100vh - 276px);
}

// Margin top scroll bar vs header table when has scroll
.cash-report.cash-report-scroll {
  .right-header {
    @media (max-width: 1536px) {
      height: 88px;
    }
  }

  ::-webkit-scrollbar-track {
    @media (max-width: 1536px) {
      margin-top: 100px;
    }
  }
}
