@import '../../../../../styles/styles.scss';

.container-side-funtion {
  .side-funtion-drop-down {
    border: 3px solid $violetB0B9D7;
    border-radius: 15px;
    background-color: $white;
    &:hover {
      border: 3px solid $blue001440;
      .input-text {
        background-color: $white;
      }
    }

    &:focus-within {
      border: 3px solid $blue001440;
    }

    &:active {
      border: 3px solid $blue001440;
    }
  }
}
