@import "src/main/webapp/app/styles/styles";

.bottom-button {
  &__label-page-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 24px;
    justify-content: flex-start;
    flex-grow: 1;
  }

  &__label-page {
    color: $blue001440;
    font-weight: $medium-weight;
    flex-shrink: 0;
  }
}
