#search-table-deposit {
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  margin-left: 24px;
  gap: 32px;
  border-radius: 15px;
}

.search-table-deposit {
  &__dropdown {
    width:250px;
  }

  &__dropdown-label {
    width: 350px;
  }
}

