@import '../../styles/variable';
@import '../../styles/mixins';

.subtotal-discount {
  padding-left: 24px;
  --input-height: 50px;

  .subtotal-discount-wapper {
    display: flex;
    gap: 20px;

    .subtotal-discount-left {
      width: calc(88% - 10px);
      height: calc(89vh - 64px);
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: calc(0.88vh - 3px);
      padding: 10px 10px 10px 22px;
      border-radius: 15px;

      &__item {
        display: flex;

        .label {
          font-weight: $medium-weight;
          min-width: 13%;
          height: 50px;
          color: $blue001440;

          .label-input {
            line-height: 50px;
          }
        }

        .content {
          display: flex;
          width: 87%;
          flex-wrap: wrap;
          gap: 5px;
          align-items: center;

          &__date {
            width: 170px;
          }

          .percent {
            line-height: 50px;
            font-weight: $medium-weight;
            color: $blue001440;
          }

          .wrap-label-text {
            width: 216px;
          }

          .input_right {
            text-align: right;
          }

          .content__day {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-weight: $medium-weight;
            color: $blue001440;
            gap: 4px;
          }
        }

        .set_day {
          gap: 12px;
        }
      }
    }

    .subtotal-discount-right {
      width: calc(21% - 10px);
      flex: 0 0 auto;
    }
  }
}
