@import "src/main/webapp/app/styles/styles";

.list-cash-register-report {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  --input-height: 50px;
  --input-horizontal-padding: 10px;

  .table-scroll {
    height: calc(100vh - 230px);
  }

  // SearchView
  &__search-container {
    align-items: center;
    display: flex;
    gap: 32px;
    padding: 8px;
    background-color: $white;
    border-radius: 15px;
    flex-wrap: wrap;
  }

  &__date {
    color: $black464646;
    font-weight: $medium-weight;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__type-container {
    margin-top: 2px;
    display: flex;
    align-items: center;
  }

  &__type-label {
    display: flex;
    align-items: center;
    color: $blue001440;
    margin-bottom: 2px;
    font-weight: $medium-weight;
  }

  &__required {
    color: $redBC1C42;
  }

  &__list-type-item {
    background-color: $white;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 100%;
    gap: 32px;
  }

  .date-picker {
    width: 310px;

    .wrap-label {
      flex-shrink: 0;
    }
  }

  &__target-month {
    width: 20%;
  }

  &__cashier-select {
    flex: 1;
  }

  .table-data__table-body {
    .row-total td {
      background-color: $yellowFFFF99;
    }
  }
}
