@import "../../styles/variable";

.ticket-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 1rem - 96px);
}

.group-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.flex-row {
  display: flex;
}

.flex-row-scroll {
  display: flex;
  overflow-y: auto;
}

.limit-record {
  color: $redFA5151;
  text-align: right;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.normal-button {
  margin-left: 4px;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  position: relative;
  margin: 0 0 16px;
}

.table-container td {
  color: $grey333333;
}

.record-new td {
  color: $redE62C2C;
}

.table-container .record-edit {
  color: $redE62C2C;
}

.title-table {
  position: sticky;
  top: -4px;
  z-index: 1;
}

td {
  position: relative;
}

tr.record-remove td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 3px solid $redBC1C42;
  width: 100%;
}
