@mixin center($horizontal: center, $vertical: true, $spacing: 0) {
  display: flex;
  justify-content: $horizontal;

  @if $vertical == true {
    align-items: center;
  } @else {
    align-items: flex-start;
  }

  @if $spacing > 0 {
    gap: $spacing;
  }
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin style($color: #333, $bg-color: null, $border-color: null, $border-width: 1px, $border-style: solid, $border-radius: null) {
  color: $color;

  @if $bg-color != null {
    background-color: $bg-color;
  }

  @if $border-color != null {
    border-color: $border-color;

    @if $border-width != null {
      border-width: $border-width;
    }

    @if $border-style != null {
      border-style: $border-style;
    }
  }

  @if $border-radius !=null {
    border-radius: $border-radius;
  }
}

@mixin ellipsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
