@import '../../../../styles/styles';

.master-ticket__main {
  .ticket-modal {
    --input-height: 50px;

    .default-modal-container__modal-content {
      width: 1263px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .row-container {
        display: flex;
        gap: 4px;
        align-items: center;
        color: $black464646;
        font-weight: $medium-weight;
      }

      .input-number-container__label,
      .dropdown-container__dropdown-title,
      .wrap-label {
        width: 280px;
        flex-shrink: 0;
      }

      .radio-right-shopping {
        .label-radio {
          width: 287px;
          flex-shrink: 0;
        }
      }

      .radio-left-shopping {
        .label-radio {
          width: 264px;
          flex-shrink: 0;
        }
      }

      .store-code.dropdown-container,
      .wrap-input-text,
      .input-number-container {
        width: 900px;
      }

      .radio-row-shopping {
        display: flex;
        gap: 150px;
      }
    }

    .unit-option {
      width: fit-content;
      --dropdown-button-width: 320px;

      .dropdown-container__dropdown-list {
        top: auto;
        bottom: 60px;
      }
    }

    .label-radio {
      width: 264px;
      flex-shrink: 0;
    }

    .date-time-title {
      width: 276px;
      flex-shrink: 0;
      color: $blue001440;
      font-weight: 500;
    }

    .discount-amount {
      display: flex;
      gap: 32px;

      .discount-type {
        align-items: start;

        .radio-button {
          height: 50px;
        }

        .radio-button-container-vertical {
          gap: 8px;
        }
      }

      .input-amount {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 200px;
      }

      .category-discount {
        --dropdown-button-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .date-time-container {
      .date-picker {
        --input-text-width: 180px;

        .input-date-picker {
          text-align: center;
        }
      }

      .time-picker {
        --input-text-width: 100px;
      }

      .date-time-separator {
        margin: 0 10px;
      }
    }

    .discount-apply-date {
      display: flex;
      align-items: center;
      gap: 64px;
    }
  }
}
