@import '../../styles/styles';

.sidebar-store {
  &__container {
    position: relative;
    background-color: $violetF6F8FD;
    width: var(--width-sidebar, $widthSidebar);
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - $heightHeader - 16px);
    min-height: 526px;
  }

  &__wrapinput-search {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__result {
    color: $blue545F95;
    font-weight: $medium-weight;
    margin-bottom: 5px;
  }

  &__button-select-all {
    @include center($spacing: 8px);

    .sidebar-store {
      &__unselect-all,
      &__select-all {
        height: 50px !important;
        line-height: 50px;
      }
    }
  }

  .sidebar-store__select-all {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0;
  }

  .sidebar-store__unselect-all {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
  }

  &__content {
    padding: 32px 24px 0 24px;
  }

  &__store-content {
    height: 100%;
  }

  &__tab-menu {
    display: grid;
    grid-template-rows: 60px;
    background-color: $blueB0B9D7;
    border-top-right-radius: 20px;
    height: 60px;
    overflow: hidden;
  }

  &__tab-item {
    @include center();
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    color: $blue001440;
    font-weight: $medium-weight;
    border-top-right-radius: 20px;
    background-color: $blueB0B9D7;
  }

  &__previous-selected-tab {
    background-color: $violetF6F8FD;
  }

  &__previous-selected-tab-disable {
    background: $grey9FA3B9 0 0 no-repeat padding-box;
    cursor: not-allowed;
  }

  &__selected-tab-item {
    background-color: $violetF6F8FD;
    border-top-right-radius: 20px;
  }

  &__tab-search-disable {
    background: $grey9FA3B9 0 0 no-repeat padding-box;
    cursor: not-allowed;
  }

  &__store-search {
    display: flex;
    gap: 13px;
  }

  &__list-store {
    overflow-y: auto;
    position: relative;
    margin-bottom: 15px;
    margin-top: 35px;

    &-item {
      & .radio-button {
        padding: 4px 0;
      }
    }
  }

  &__list-store-checkbox {
    height: calc(100vh - $heightHeader - 490px);
    min-height: 150px;
  }

  &__list-store-radio {
    height: calc(100vh - $heightHeader - 306px);
    min-height: 150px;
  }

  &__list-store-radio-hidden-search {
    height: calc(100vh - $heightHeader - 306px);
    min-height: 150px;
  }

  &__list-store-item {
    .radio-button {
      flex-shrink: 1;
    }

    .checkbox-button {
      padding-bottom: 4px;
    }
  }

  &__search-content {
    width: 100%;
    height: calc(100vh - $heightHeader - 222px);
    margin-bottom: 16px;
    overflow-y: auto;

    @media (max-width: 870px) {
      height: calc(100vh - $heightHeader - 306px);
    }

    .list-condition {
      margin-right: 4px;
    }
  }

  &__button-search {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  &__radio-item-store {
    cursor: pointer;
    @include center(flex-start);
    gap: 8px;
  }

  &__bottom-button {
    padding: 16px 30px 0 30px;
    background-color: $blueE7EAF0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__bottom-button-dirty-check {
    padding: 16px 30px 0 30px;
    background-color: $blueE7EAF0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;

    .btn-primary {
      width: 100px;
    }
  }
}
