@import '../../styles/styles';
@import '../../styles/variable';

.price-change-explanations {
  --input-height: 50px;

  &__search {
    display: flex;
    background-color: $white;
    border-radius: 16px;

    &-box {
      display: grid;
      grid-template-columns: 0.5fr 0.9fr 1fr;
      background-color: $white;
      flex-wrap: wrap;
      gap: 16px 30px;
      padding: 16px;
      border-radius: 16px;

      .report-type-date {
        width: 350px;
      }

      .date-time {
        .date-picker {
          .start-date {
            margin-right: -10px;
            width: 190px;
          }
        }
      }

      &.search-area {
        display: flex;
        align-items: end;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;

      &.end-item {
        .btn-primary {
          margin-left: auto;
        }
        width: 100%;
        grid-column: 3 / -1;
        flex-grow: 1;
        .input-number-container {
          min-width: 300px;
          width: 68%;
        }

        .product-name {
          width: 100%;
        }
      }

      .wrap-input-text-mark .wrap-label .label {
        min-width: 156px;
      }

      .label-radio {
        color: $blue001440;
        font-weight: $medium-weight;
        min-width: 108px;
      }

      .date-picker-revenue {
        width: 100%;
      }

      .select-revenue,
      .input-number-container {
        width: 350px;
      }

      .register-number {
        .dropdown-container {
          &__dropdown-button {
            width: 338px;
          }
        }
      }

      .item-count {
        margin-left: -18px;
        width: 285px;
      }

      .product-name {
        height: 100%;
        background-color: $greyD9DCE1;
        padding: 0 16px;
        border-radius: 16px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 16px;
    gap: 16px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
      }
      &.center {
        min-width: fit-content;
        padding-top: 40px;
      }
      & h4 {
        color: $blue001440;
      }
    }
  }

  & .btn-primary {
    width: 100%;
  }

  & .table-data .table-scroll {
    height: calc(100vh - 380px);
  }
}
