@import '../../styles/styles';

.dropdown-container {
  height: var(--dropdown-height, 50px);
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: var(--input-border-radius, 15px);
  font-weight: $medium-weight;
  position: relative;
  flex-shrink: 0;

  .input-text-require {
    color: $redBC1C42;
  }

  &__dropdown-title {
    height: 100%;
    white-space: nowrap;
    padding: 0 24px;
    background-color: $blueB0B9D7;
    border-top-left-radius: var(--input-border-radius, 15px);
    border-bottom-left-radius: var(--input-border-radius, 15px);
    @include center(flex-start);
    color: $blue001440;
    width: var(--label-width, fit-content);
  }

  &__dropdown-button {
    outline: none;
    height: 100%;
    width: var(--dropdown-button-width, 100%);
    @include center(space-between, $spacing: 16px);
    padding: var(--dropdown-button-horizontal-padding, 10px);
    border: none;
    background-color: transparent;
    color: $black464646;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: $medium-weight;

    svg {
      flex-shrink: 0;
    }

    &:active {
      background-color: $blueE7EAF0;
    }

    &::placeholder {
      color: $grey9E9E9E;
    }

    &:disabled {
      background-color: $greyD9DCE1;
      color: $black464646;
      cursor: not-allowed;
    }
  }

  &__button-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__dropdown-list {
    list-style-type: none;
    z-index: 10;
    position: absolute;
    width: 100%;
    max-height: 212px;
    overflow-y: auto;
    margin: 0;
    top: calc(var(--dropdown-height, 50px) + 2px);
    padding: 12px 0;
    box-shadow: 2px 6px 10px 4px #0000004d;
    background-color: $blueF6F8FD;
    border-radius: var(--input-border-radius, 15px);
    border: 1px solid $blueB0B9D7;
  }

  &__button-text {
    cursor: pointer;
  }

  &__dropdown-item {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 24px;
    line-height: 36px;
    padding: 7px 24px;
    font-weight: $medium-weight;
    cursor: pointer;
    color: $black464646;
    min-height: 50px;
  }

  &__dropdown-item-not-selected {
    &:hover {
      background-color: $blueE7EAF0;
      color: $blue001440;
    }
  }

  &__dropdown-item-selected {
    background-color: $blueB0B9D7;
    color: $blue001440;
  }

  &__icon-arrow {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  }

  &__icon-path {
    fill: $blue545F95;
  }

  /*
  CSS left border button dropdown when none label
   */
  &__none-label {
    .dropdown-container {
      &__dropdown-button {
        border-top-left-radius: var(--input-border-radius, 15px);
        border-bottom-left-radius: var(--input-border-radius, 15px);
        border-left-color: $blueB0B9D7;
        border-width: var(--input-border, 3px);
      }
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      .dropdown-container {
        &__dropdown-button {
          border-left-color: $blue001440;
        }
      }
    }
  }

  /*
  CSS left border button dropdown when has label
   */
  &__has-label {
    .dropdown-container {
      &__dropdown-button {
        border-left-width: 0;
      }
    }
  }

  /*
  CSS border label, button dropdown
   */
  &__border {
    .dropdown-container {
      &__dropdown-title {
        border-top-left-radius: var(--input-border-radius, 15px);
        border-bottom-left-radius: var(--input-border-radius, 15px);
        border-width: var(--input-border, 3px);
        border-style: solid;
        border-top-color: $blueB0B9D7;
        border-bottom-color: $blueB0B9D7;
        border-left-color: $blueB0B9D7;
        border-right-width: 0;
      }

      &__dropdown-button {
        border-top-right-radius: var(--input-border-radius, 15px);
        border-bottom-right-radius: var(--input-border-radius, 15px);
        border-top-width: var(--input-border, 3px);
        border-bottom-width: var(--input-border, 3px);
        border-right-width: var(--input-border, 3px);
        border-style: solid;
        border-top-color: $blueB0B9D7;
        border-bottom-color: $blueB0B9D7;
        border-right-color: $blueB0B9D7;
      }
    }

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      outline: none;

      .dropdown-container {
        &__dropdown-title {
          border-top-color: $blue001440;
          border-bottom-color: $blue001440;
          border-left-color: $blue001440;
        }

        &__dropdown-button {
          border-top-color: $blue001440;
          border-bottom-color: $blue001440;
          border-right-color: $blue001440;
        }
      }
    }
  }

  /*
  CSS disabled
   */
  &__disabled {
    background-color: $greyD9DCE1;
    cursor: not-allowed;
    overflow: hidden;

    .dropdown-container {
      &__button-text {
        cursor: not-allowed;
      }
    }

    &__dropdown-button {
      &:active {
        background-color: $greyD9DCE1;
      }
    }
  }

  &:focus-visible {
    outline: none;
    border: 3px solid $blue001440;
  }
}

.dropdown-container_error {
  border-color: $redBC1C42;
  background-color: $pinkFFE5EA;

  .dropdown-container {
    &__dropdown-title {
      border-top-color: $redBC1C42;
      border-bottom-color: $redBC1C42;
      border-left-color: $redBC1C42;
    }

    &__dropdown-button {
      border-top-color: $redBC1C42;
      border-bottom-color: $redBC1C42;
      border-left-color: $redBC1C42;
      border-right-color: $redBC1C42;

      &:active {
        background-color: $pinkFFE5EA;
      }
    }
  }
}
