@import '../../styles/mixins';
@import '../../styles/variable';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include center();
  background-color: $black0000002d;
  z-index: 100000;

  .modal-content {
    @include box(500px, fit-content);
    @include center();
    @include style($bg-color: white, $border-radius: 6px);

    .header {
      @include box(100%, 50px);
      @include style($bg-color: $blue545F95, $border-radius: 6px 6px 0 0);
    }

    .spinner {
      @include style($border-color: rgba(0, 0, 0, 0.1), $border-width: 16px, $border-radius: 50%);
      border-left-color: $blue545F95;
      @include box(120px);
      animation: spin 1s linear infinite;
      margin: 30px;
    }

    .button-bottom {
      width: 100%;
      @include center(end);
      margin-bottom: 20px;
      margin-right: 35px;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
