@import '../../../styles/mixins';

.table-modal-ticket td>* {
  padding: 4px;
}

.table-search-ticket-container {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  position: relative;
  margin: 0 0 24px;
}

.title-table {
  position: sticky;
  top: -4px;
  z-index: 1;
}

.table-search-ticket-container td {
  color: #333333;
  @include center(flex-start)
}
