@import '../../styles/variable';
@import '../../styles/mixins';

.receipt-coupon-setting {
  padding-left: 24px;
  --input-height: 46px;

  &-wapper {
    display: flex;
    gap: 20px;

    .receipt-coupon-setting-left {
      width: calc(88% - 10px);
      height: calc(89vh - 64px);
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 0.88vh;
      padding: 10px 10px 10px 22px;
      border-radius: 15px;

      &__item {
        display: flex;

        .label {
          font-weight: $medium-weight;
          width: 13%;
          height: 50px;
          color: $blue001440;

          .label-input {
            line-height: 50px;
          }
        }

        .content {
          display: flex;
          width: 87%;
          flex-wrap: wrap;
          gap: 6px;
          align-items: center;

          .percent {
            line-height: 50px;
            font-weight: $medium-weight;
            color: $blue001440;
          }

          &__exclusion {
            display: flex;
            gap: 8px;
          }

          .wrap-label-text {
            width: 216px;
          }

          .input_right {
            text-align: right;
          }

          .content__day {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-weight: $medium-weight;
            color: $blue001440;
            gap: 4px;
          }
        }

        .set_day {
          gap: 12px;
        }
      }
    }

    .receipt-coupon-setting-right {
      width: calc(21% - 10px);
      flex: 0 0 auto;
    }
  }

  .table-data {
    height: calc(100% - 300px);
  }

  .table-data .table-scroll {
    height: calc(100vh - 216px);

    @media (max-height: 919px) {
      height: calc(100vh - 214px);
    }
  }

  & .back-side-box,
  & .front-side-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px 0;
    color: $blue001440;
    font-weight: $medium-weight;
  }

  & .back-side-box {
    padding-bottom: 16px;
  }

  .default-modal-container__modal-body-content {
    min-height: 285px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
  }

  & .dropdown-container__dropdown-title,
  & .wrap-input-text .wrap-label,
  & .input-container .wrap-input-text .wrap-label-text,
  & .input-condition-keyword .input-number-container__label {
    width: 40%;
    min-width: 380px;
  }

  .default-modal-container {
    & .dropdown-container__dropdown-button {
      width: 60%;
    }
  }

  & .date-time-start-end .date-picker .wrap-label {
    min-width: 382px;
  }
}
