@import '../../styles/mixins';
@import '../../styles/variable';

.input-container {
  position: relative;
  width: var(--input-width);
  display: flex;
  align-items: center;
  gap: 10px;

  .wrap-input-text-disabled {
    overflow: hidden;
    border: none;

    .input-text {
      border-top-color: $greyD9DCE1;
      border-bottom-color: $greyD9DCE1;
      border-right-color: $greyD9DCE1;
    }
  }

  .wrap-input-text-enabled {
    &:hover, &:focus-within, &:focus, &:active {
      outline: none;

      .wrap-label-text {
        border-top-color: $blue001440;
        border-bottom-color: $blue001440;
        border-left-color: $blue001440;
      }

      .input-text {
        border-top-color: $blue001440;
        border-bottom-color: $blue001440;
        border-right-color: $blue001440;
      }
    }
  }

  .wrap-input-text-label {
    .input-text {
      border-left-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .wrap-input-text {
    height: var(--input-height, 50px);
    width: 100%;
    font-size: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    .wrap-label-text {
      border-top-left-radius: var(--input-border-radius, 15px);
      border-bottom-left-radius: var(--input-border-radius, 15px);
      border-width: var(--input-border, 3px);
      border-style: solid;
      border-top-color: $blueB0B9D7;
      border-bottom-color: $blueB0B9D7;
      border-left-color: $blueB0B9D7;
      border-right-width: 0;
    }

    &.input-text-custom-error {
      .wrap-label-text {
        border-top-color: $redBC1C42;
        border-bottom-color: $redBC1C42;
        border-left-color: $redBC1C42;
      }

      .input-text {
        border-color: $redBC1C42;
        background-color: $pinkFFE5EA;
      }
    }

    .input-text-require {
      color: $redBC1C42;
    }

    .wrap-label-text {
      height: 100%;
      padding: 12px var(--label-horizontal-padding, 24px);
      background-color: $blueB0B9D7;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      width: var(--label-width, fit-content);
      min-width: max-content;
      flex-shrink: 0;

      .label-text {
        color: $blue001440;
        font-weight: $medium-weight;
      }
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      display: none;
    }

    .contain-icon-with-input {
      width: 100%;
      height: 100%;

      .input-text-custom {
        &__icon {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translateY(-50%);
          width: var(--height-icon, 24px);
          height: var(--height-icon, 24px);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .input-text {
        padding-left: 50px;
      }
    }
  }

  .input-text {
    border-radius: var(--input-border-radius, 15px);
    border-width: var(--input-border, 3px);
    border-style: solid;
    padding: 12px var(--horizontal-pading, 18px);
    height: 100%;
    width: var(--input-text-width, 100%);
    outline: none;
    color: $black464646;
    font: normal normal $medium-weight var(--input-font-size, 24px) / 36px 'Noto Sans JP',
    sans-serif;
    background-color: $white;
    border-color: $blueB0B9D7;

    &:hover, &:focus, &:active, &:focus {
      border-color: $blue001440;
    }

    &:focus {
      background-color: $white;
    }

    &:active {
      background-color: $blueE7EAF0;
    }

    &::placeholder {
      color: $grey9E9E9E;
    }

    &:disabled {
      background-color: $greyD9DCE1;
      color: $black464646;
      cursor: auto;
      border-color: $greyD9DCE1;
    }
  }

  .wrap-error-text {
    width: 100%;
    max-width: var(--input-width);

    .error-text {
      font-size: 20px;
      color: $redBC1C42;
    }
  }
}
