@import '../../styles/variable';
@import '../../styles/mixins';

.page-common {
  &__container {
    display: flex;
    gap: 40px;
    padding: 40px;
  }

  .right-panel {
    display: flex;
    flex-direction: row;
  }

  .input-container {
    margin-top: 20px;
  }

  .wrap-btn {
    display: flex;
    flex-direction: column;

    .button-normal {
      margin-top: 20px;
    }
  }

  .wrap-input {
    margin-top: 20px;
  }

  //// input with top label
  .wrap-top-label-with-input {
    margin-top: 20px;

    .input-container {
      margin-top: 0;
    }
  }
}
