$white: #ffffff;
$whiteF9f9f9: #f9f9f9;
$whiteF0f0f0: #f0f0f0;
$white999999: #999999;
$whiteF6F8FD: #f6f8fd;
$grey333333: #333333;
$grey707070: #707070;
$greyCCCCCC: #cccccc;
$grey696969: #696969;
$greyF5F5F5: #f5f5f5;
$greyCCC: #ccc;
$grey666666: #666666;
$greyA9A9A9: #a9a9a9;
$greyEDEDED: #ededed;
$greyE5E5E5: #e5e5e5;
$greyE9F0F7: #e9f0f7;
$greyD4D4D4: #d4d4d4;
$greyDDD: #ddd;
$greyEEE: #eee;
$greyC4BEBE: #c4bebe;
$greyCDCDCD: #cdcdcd;
$grey9E9E9E: #9e9e9e;
$greyA0A0B4: #a0a0b4;
$grey9FA3B9: #9fa3b9;
$greyD9DCE1: #d9dce1;

$blue2D7DE6: #2d7de6;
$blue0DCAF0: #0dcaf0;
$blueC3E0fE: #c3e0fe;
$blueAFCBE0: #afcbe0;
$blue0F6DB5: #0f6db5;
$blue1A7F9D: #1a7f9d;
$blue009CD8: #009cd8;
$blue42BDCE: #42bdce;
$blue2196f3: #2196f3;
$blue1C4476: #1c4476;
$blueCFE2FF: #cfe2ff;
$blue001440: #001440;
$blueB0B9D7: #b0b9d7;
$blueE3E5F6: #e3e5f6;
$blue35417D: #35417d;
$blue545F95: #545f95;
$blue636FAC: #636fac;
$blueF6F8FD: #f6f8fd;
$blueE7EAF0: #e7eaf0;
$blueE3E5F6: #e3e5f6;
$blue0f192f: #0f192f;

$greenDAF5CD: #daf5cd;
$green00B91F: #00b91f;
$greenB2FFB2: #b2ffb2;
$green3DB516: #3db516;
$green2780E5: #2780e5;
$green639554: #639554;

$black000000: #000000;
$black0000004d: #0000004d;
$black0000002d: #0000002d;
$black444: #444;
$black222222: #222222;
$black464646: #464646;

$yellowFEFFF1: #fefff1;
$yellowFFFFEF: #ffffef;
$yellowFFFF99: #ffff99;
$yellowFFF9B6: #fff9b6;

$redFA5151: #fa5151;
$redE62C2C: #e62c2c;
$redE90003: #e90003;
$redDA0B0B: #da0b0b;
$redFAD2FA: #fad2fa;
$redFF5C5C: #ff5c5c;
$redF0B4F0: #f0b4f0;
$redE696E6: #e696e6;
$redFA1E1E: #fa1e1e;
$redFF003A: #ff003a;
$redFfAdAd: #ffadad;
$redFCE5EA: #fce5ea;
$redFFDEDE: #ffdede;
$redBC1C42: #bc1c42;
$red4E4E4E: #4e4e4e;
$redFFE5EA: #ffe5ea;
$pinkFFE5EA: #ffe5ea;
$pinkFFDCFA: #ffdcfa;

$brown533f03: #533f03;

$orangeFFEEB9: #ffeeb9;

$violetB0B9D7: #b0b9d7;
$violetD0DBF3: #d0dbf3;
$violetF6F8FD: #f6f8fd;
$violet3E4762: #3e4762;
$violet02113E: #02113e;

$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;

$heightHeader: 64px;
$heightBottom: 68px;
$widthSidebar: 367px;

$borderRadius: 0.15625vw;
$maxBorderRadius: 15px;
$minBorderRadius: 10px;

$heightInput: 2.2vw;
$maxHeightInput: 50px;
