$font-path: '../../content/fonts/NotoSansJP/';

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url(#{$font-path}NotoSansJP-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
