@import '../../styles/variable';

.popover-body {
  color: $grey333333;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-size: 24px;
  line-height: 36px;
  background-color: #dde4f4;
  border-radius: 8px;
}

.popover-text {
  display: flex;

  &__content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    color: $black464646;
    font-weight: $medium-weight;
  }
}

.popover-text-label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-weight: $medium-weight;

  &__label {
    display: flex;
    align-items: center;
    height: var(--input-height, 50px);
    padding: 0 24px;
    color: $blue001440;
    background-color: $blueB0B9D7;
    font-weight: 500;
    border-top-left-radius: var(--input-border-radius, 15px);
    border-bottom-left-radius: var(--input-border-radius, 15px);

    @media (min-width: 1800px) {
      height: $maxHeightInput;
      border-top-left-radius: $maxBorderRadius;
      border-bottom-left-radius: $maxBorderRadius;
    }

    @media (max-width: 1280px) {
      border-top-left-radius: $minBorderRadius;
      border-bottom-left-radius: $minBorderRadius;
    }
  }

  &__text {
    flex-grow: 1;
    align-items: center;
    padding: 0 16px;
    height: var(--input-height, 50px);
    line-height: var(--input-height, 50px);
    color: $black464646;
    border-top-right-radius: var(--input-border-radius, 15px);
    border-bottom-right-radius: var(--input-border-radius, 15px);
    background-color: $greyD9DCE1;
    word-break: break-all;

    @media (min-width: 1800px) {
      height: $maxHeightInput;
      border-top-right-radius: $maxBorderRadius;
      border-bottom-right-radius: $maxBorderRadius;
    }

    @media (max-width: 1280px) {
      border-top-right-radius: $minBorderRadius;
      border-bottom-right-radius: $minBorderRadius;
    }
  }

  &__text-non-label {
    border-radius: var(--input-border-radius, 15px);

    @media (min-width: 1920px) {
      height: $maxHeightInput;
      border-radius: $maxBorderRadius;
    }

    @media (max-width: 1280px) {
      border-radius: $minBorderRadius;
    }
  }

  &__text-non-background {
    .popover-text-label {
      &__text {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
      }
    }
  }

  &__error {
    .popover-text-label {
      &__text {
        color: $redBC1C42;
      }
    }
  }
}
