@import '../../styles/styles';

.promotion-maintenance {
  &__container {
    margin-left: 24px;
    margin-top: -8px;
    .bottom-button {
      left: 24px;
      &__label-page-container {
        position: absolute;
        left: 40px;
      }
    }
    .table-scroll {
      height: calc(100vh - 220px);
    }
    .table-data {
      &__table-main-body {
        .table-data {
          &__row-data td.table-data{
            &__cell {
              padding: 0.51vh 8px;
            }
          }
        }
      }
    }
  }
  &__search {
    display: flex;
    justify-content: left;
    margin-bottom: 16px;
    gap: 8px;
    background-color: $blueF6F8FD;
    width: 100%;
    border-radius: min(1.05vw, 20px);
    padding: 12px 16px;

    @media (min-width: 1920px) {
      padding: 12px 16px;
    }

    @media (min-width: 1600px) {
      gap: 16px;
      padding: 12px 16px;
    }

    @media (max-width: 1280px) {
      border-radius: 10px;
    }
    .wrap-input-text {
      width: 400px;
    }
  }
  &__toolbox {
    display: flex;
  }
  &__btn {
    margin: 0 4px 0 4px;
  }
  &__table {
    .input-text-mark {
      border-radius: 10px;
    }
    .input-text {
      border-radius: 10px;
    }
    .wrap-input-text {
      border-radius: 10px;
    }

    .input-text-normal {
      border-radius: 10px;
    }

    .tooltip-number-input-text {
      border-radius: 10px;
    }
    .id_delete_flag {
      .promotion-table {
        &__cell-data {
          justify-content: center;
        }
      }
    }
    .promotion_cate {
      .input-text-container {
        &__input-text {
          background-color: #d9dce1;
        }
      }
    }
    .promotion_code {
      .tooltip-number-input-text {
        text-align: left;
      }
    }

    .start_time {
      .input-text-mark {
        text-align: left;
      }
    }
    .end_time {
      .input-text-mark {
        text-align: left;
      }
    }
    .time-picker {
      .time-picker__time-picker-input {
        max-width: 300px;
      }
    }
    .date-picker {
      .input-date-picker {
        max-width: 400px;
        text-align: left;
      }
    }
  }
}
