@import '../../styles/variable';
@import '../../styles/mixins';

.master-stores-container {
  width: 100%;
  padding-left: 24px;
  --input-height: 50px; // css height for input

  .table-data {
    .table-scroll {
      height: calc(100vh - 298px);
    }
  }

  .master-stores {
    &__condition-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      background-color: $white;
      border-radius: 15px;
      margin-bottom: 16px;

      &--left {
        width: 90%;
        display: flex;
        gap: 8px;
      }
    }

    @media (min-width: 1920px) {
      &__condition-container {
        justify-content: flex-start;
        gap: 16px;
        &--left {
          width: fit-content;
        }
      }
    }

    &__condition-item {
      display: flex;
      align-items: center;
      gap: 8px;

      .dropdown-container {
        width: 180px;
      }

      .dropdown-container.dropdown-business-type {
        min-width: 235px;

        & .dropdown-container__dropdown-title {
          min-width: 90px;
        }

        .dropdown-container__dropdown-button {
          max-width: 145px;
        }
      }
    }

    &__message-err {
      width: 100%;
      margin-bottom: 8px;
      p {
        margin-bottom: -4px;
      }

      .message-err-text {
        color: $redBC1C42;
        text-align: right;
      }
    }

    &__table-container {
      .table-common {
        &__table-body {
          height: fit-content;
          max-height: calc(100dvh - 294px) !important;
        }

        .table-common__table-header {
          width: calc(100vw - 48px);
        }
      }
    }

    &__bottom-container {
      .bottom-button {
        left: 20px;
      }
    }
  }
}
