.batch {
    width: 900px;
    margin: auto;
    .row {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        .col {
            margin: 0px;
            margin-top: 12px;
        }
    }
}