@import 'src/main/webapp/app/styles/styles';

.table-data {
  width: 100%;

  &__table-container {
    overflow-x: auto;
    overflow-y: hidden;
    //background-color: $violetF6F8FD;
    border-radius: 20px;
  }

  &__table-main-header-wrapper {
    overflow-x: hidden;
    background-color: $blueB0B9D7;
  }

  &__table-header-scroll {
    overflow-y: scroll;
  }

  &__table-header {
    overflow-y: hidden;
  }

  &__table-main-header {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0;
  }

  &__icon-sort {
    width: 1.4vw;
    max-width: 30px;
    height: 1.4vw;
    max-height: 30px;
    cursor: pointer;
    opacity: 0.3;
  }

  &__icon-sort-path {
    fill: $blue001440;
  }

  &__icon-sort-current {
    opacity: 1;
  }

  &__icon-sort-desc {
    rotate: 180deg;
  }

  tr.record-remove {
    td:before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 3px solid $redBC1C42;
      width: 100%;
    }
  }

  &__message_warning {
    display: flex;
    justify-content: flex-end;
    color: $redBC1C42;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    @include ellipsisText();
  }

  &__table-body {
    color: $black464646;
    font-weight: $medium-weight;
    width: 100%;

    tr {
      display: flex;
    }

    [data-index]:nth-child(2n) {
      td {
        background-color: $blueE7EAF0;
      }
    }

    .table-data {
      &__no-data {
        color: $redBC1C42;
        @include center();
        margin-top: 32px;
        margin-bottom: 8px;
      }
    }

    tr:nth-child(odd) {
      td {
        background-color: $blueF6F8FD;
      }
    }
  }

  &__table-body-empty {
    background-color: white;
    height: 30px;
  }

  &__row-data:nth-child(2n) {
    background-color: $blueE7EAF0;
  }

  &__row-data:nth-child(odd) {
    background-color: $blueF6F8FD;
  }

  &__table-header {
    background-color: $blueB0B9D7;

    th {
      border-bottom-width: 0;
      font: normal normal $medium-weight var(--input-font-size, 24px) / var(--line-height, 36px) 'Noto Sans JP',
      sans-serif;
      padding: 6px 1px;
    }
  }

  &__table-main-body {
    width: 100%;
    table-layout: fixed;

    .table-data {
      &__no-data {
        color: $redBC1C42;
        @include center();
        margin-top: 32px;
      }
    }
  }

  .table-scroll {
    min-height: 30px;
    overflow-x: hidden;
  }

  &__table-body-background {
    background-color: $white;
  }

  [data-testid="virtuoso-item-list"] {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }

  &__table-main-body {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;

    .table-data__table-body {
      [data-index] {
        .table-data__red-text {
          color: $redBC1C42;

          .table-data__cell {
            color: $redBC1C42;

            .popover-text__content {
              color: $redBC1C42;
            }
          }
        }

        .table-data__row-data {
          .table-data__cell {
            .table-data__edit-text {
              color: $redBC1C42;
            }
          }
        }
      }
    }

    [data-index] .table-data__row-selected {
      background-color: $blue545F95;

      .table-data__cell {
        background-color: $blue545F95 !important;
        color: $white;

        .popover-text__content {
          color: $white;
        }
      }

      & .checkbox-button {
        pointer-events: none;

        &__input {
          pointer-events: visible;
          background-color: #b0b9d7;
          border: 3px solid #fff;

          &:checked:before {
            background-color: #b0b9d7;
          }
        }
      }
    }

    margin-bottom: 0;
    padding: 0;

    .table-row_padding-bottom {
      td {
        height: 0;
        background-color: $violetF6F8FD;
      }
    }

    td {
      border-bottom-width: 0;
      font: normal normal $medium-weight var(--input-font-size, 24px) / var(--line-height, 36px) 'Noto Sans JP',
      sans-serif;

      display: flex;
      align-items: center;
      justify-content: center;

      .input-date-picker {
        max-width: 170px;
        text-align: center;
      }

      .time-picker {
        justify-content: center;

        &__time-picker-input {
          max-width: 90px;
          text-align: center;
        }
      }
    }

    td {
      color: $black464646;
      padding: 4px var(--horizontal-table-padding, 8px);
    }
  }

  &__table-body {
    .row-data-non-select {
      cursor: unset;
    }

    .row-data-can-select {
      cursor: pointer;
    }
  }

  tr {
    vertical-align: middle;
    text-align: center;
    border-bottom-width: 0;

    svg {
      cursor: pointer;
    }

    th {
      background-color: $blueB0B9D7;
      border: none;
      word-break: break-all;
      color: $blue001440;
      font-weight: $medium-weight;
    }

    td:not(:last-child) {
      border-right: 3px solid $blueB0B9D7;

      @media (max-width: 1919px) {
        border-right: 0.15625vw solid $blueB0B9D7;
      }
    }
  }

  &__cell-text {
    @include ellipsisText();
  }

  &__cell-data {
    @include ellipsisText();
    display: flex;
    align-items: center;
  }

  &__double-input-text {
    @include center();
    gap: 4px;
  }

  &__double-input-text-disabled {
    .table-data {
      &__vertical-line {
        background-color: $greyD9DCE1;
      }
    }
  }

  &__tooltip-text {
    visibility: hidden;
    background-color: $grey696969;
    color: $white;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-65%);
    opacity: 1;
    transition: opacity 0.2s;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
    width: max-content;
    white-space: normal;
    word-break: break-all;
    text-align: left;
  }

  &__tooltip-text-before {
    margin-bottom: 8px;
  }

  &__cell {
    .popover-text__content {
      word-break: break-all;
    }

    &:hover {
      .table-data__tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__cell-button {
    margin: auto;
    max-height: 42px;
  }


  &__table-main-body {
    .record-add-cell {
      font-weight: $normal-weight;
      height: 50px;
      font-size: 40px;
      line-height: 40px;
      color: $blue545F95;
      background-color: $blueB0B9D7;
      cursor: pointer;
      outline: none;
      border: none;

      &:focus {
        color: $blue001440;
      }

      &:focus-visible {
        color: $blue001440;
      }

      &:hover {
        color: $blue636FAC;
      }

      &:active {
        color: $blue35417D;
      }
    }
  }
}
