@import '../../../styles/styles';

.table-custom {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-style: hidden;
  background-color: white;

  tr:nth-child(2n) {
    td {
      background-color: $blueE7EAF0;
    }
  }

  tr:nth-child(odd) {
    td {
      background-color: $blueF6F8FD;
    }
  }
}

.table-custom td {
  line-height: 36px;
  font-weight: $medium-weight;
  color: $black464646;
  padding: 5px 8px;
  border-right: 3px solid rgb(162 172 205);
}

.table-custom {
  tr th:last-child {
    border-right: none;
  }

  tr td:last-child {
    border-right: none;
  }

  tr th:first-child {
    width: 100px;
    max-width: 100px;
  }

  tr td:first-child {
    width: 100px;
    max-width: 100px;
    text-align: center;
  }

  tr td:nth-child(2) {
    width: 100px;
    max-width: 100px;
    text-align: center;
  }

  tr td:nth-child(n+3) {
    text-align: right;
  }
}

.table-data-cash-container {
  $height-th: 48px;
  position: relative;

  .table-custom {
    th {
      height: $height-th;
      line-height: 36px;
      font-weight: $medium-weight;
      padding: 4px 1px;
      border-right: 3px solid rgb(162 172 205);
    }
  }

  .table-header-right {
    right: 0;
    top: 0;
    position: absolute;
    background-color: $blueB0B9D7;
    border-top-right-radius: 20px;
    width: 50%;
    height: calc(2 * $height-th);
  }

  .table-header-fixed {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: $blueB0B9D7;
    text-align: center;
    font-weight: $medium-weight;
    word-break: break-all;
    color: $blue001440;
    $width-column: calc(85% / var(--number-column));

    .sub-title {
      width: $width-column;
    }

    .sub-title-total {
      width: calc($width-column + 2%);
    }

    .row-first {
      th {
        border-bottom: 3px solid rgb(162 172 205);
      }
    }


    &:before {
      content: "";
      display: flex;
      position: absolute;
      z-index: -1;
      background-color: $blueB0B9D7;
      width: 100%;
      height: 100%;
      top: 0
    }
  }

  .table-data-cash {
    height: fit-content;
    max-height: calc(100dvh - 246px);
    overflow: auto;
    border-radius: 20px;
    background-color: $blueF6F8FD;


    &::-webkit-scrollbar-track {
      margin-top: 110px;
    }
  }

}


