.ishida-price-change {
  margin-left: 24px;

  table {
    table-layout: fixed;
    --input-border-radius: 10px;
  }

  .table-data__table-main-body td {
    padding: 0 8px;
  }

  .table-scroll {
    height: calc(100vh - 216px);
  }

  @media (max-width: 1680px) {
    .table-data__table-header tr {
      display: flex;
    }

    .item_code {
      width: 220px !important;
      flex-shrink: 0;
    }

    .current_price, .new_price, .my_company_code {
      width: 160px !important;
      flex-shrink: 0;
    }

    .item_name {
      flex: 1;
    }
  }
}
