.modal-product-list {
  .default-modal-container__modal-content {
    max-width: 84vw;

    @media (max-width: 1600px) {
      max-width: 96vw;
    }
  }

  .default-modal-container__modal-body {
    height: 75vh;
  }

  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    padding-top: 3px;
  }
  .modal-product-name {
    min-width: 800px;
  }

  .table-scroll {
    min-height: 500px;
  }
}
