.input-button-group {
  &__box {
    display: flex;
  }

  &__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  &__button {
    margin-left: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
