@import '../../../styles/styles.scss';

.bottom-button {
  height: 68px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 8px 24px 8px 44px;
  background-color: $blueB0B9D7;
  border-top-left-radius: 50px;
  left: 30px;

  &__logout-button-container {
    width: 100%;
  }

  &__navigate-back {
    @include center($spacing: 16px);
  }

  &__action-button {
    @include center(flex-end, $spacing: 4px);

    .button-icon-key {
      @media (max-width: 1140px) {
        display: none;
      }
    }

    .button-icon-text {
      @media (max-width: 1560px) {
        display: none;
      }
    }
  }
}
