@import "src/main/webapp/app/styles/styles";

.date-time-start-end {
  --horizontal-pading: 2px;
  display: flex;
  align-items: center;
  gap: min(0.15625vw, 3px);

  .date-picker {
    .apply-end-date {
      right: 0;
      left: auto;
    }

    &__calendar {
      left: auto;
      right: 0;
    }
  }

  .time-picker {
    &__menu {
      left: auto;
      right: 0;
    }
  }

  &__start-date,
  &__end-date {
    text-align: center;
    width: 8.85vw;
    max-width: 162px;
    @media (min-width: 1600px) {
      width: 8.5vw;
    }
  }

  &__start-time,
  &__end-time {
    width: 4.2vw;
    max-width: 84px;
    @media (min-width: 1600px) {
      width: 4.3vw;
    }
  }

  &__date-time-separation {
    color: $grey9E9E9E;
    font-weight: $medium-weight;
    margin: 0 2px;
  }

  &__text-value {
    color: $black464646;
    font-weight: $medium-weight;
    padding: 2px;
    background-color: $greyD9DCE1;
    border-radius: 0.78125vw;
    height: var(--input-height, 50px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1920px) {
      border-radius: 15px;
    }

    @media (max-width: 1280px) {
      border-radius: 10px;
    }
  }
}
