@import '../../styles/styles';
@import '../../styles/variable';

.checking-sales-item {
  --input-height: 50px;

  .datetime {
    margin-right: 11px;
    width: 731px;
  }

  &__search {
    display: flex;
    background-color: #ffffff;
    border-radius: 16px;

    &-box {
      display: flex;
      background-color: #ffffff;
      flex-wrap: wrap;
      gap: 16px;
      padding: 16px;
      border-radius: 16px;

      &.search-area {
        width: 15%;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 16px;
      width: calc(25% - 12px);

      &.wide {
        width: calc(50% - 12px);
      }

      .popover-text-label__lable,
      .wrap-input-text-mark .wrap-label p,
      .input-number-container__label,
      .input-container .wrap-label-text {
        min-width: 180px;
      }

      .label-radio {
        color: $blue001440;
        font-weight: 500;
        width: 110px;
      }

      .date-picker-revenue {
        width: 100%;
      }

      .select-revenue,
      .input-number-container {
        width: 100%;
      }
    }
  }

  &__list {
    width: 100%;
    padding-top: 16px;
  }

  &__chart {
    background-color: $white;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 16px;
    font-weight: 500;

    .apexcharts-legend-group-vertical {
      flex-direction: row;
    }
  }

  & .table-data .table-scroll {
    min-height: calc(100vh - 336px);
  }
}
