@import 'src/main/webapp/app/styles/styles';

.menu-header {
  display: none;

  @media (max-width: 1080px) {
    display: flex;
    align-items: center;
  }

  &__toggle-icon {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__menu-header {
    position: fixed;
    z-index: 100;
    top: 64px;
    left: 0;
    width: 367px;
    height: fit-content;
    padding: 24px;
    background-color: $blue001440;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__menu-user-store {
    @include center(flex-start, $spacing: 16px);
  }

  &__menu-button-output {
    margin-top: 16px;
    @include center(space-between, $spacing: 8px);

    @media (min-width: 600px) {
      display: none;
    }
  }
}
