@import '../../../styles/mixins';
@import '../../../styles/variable';

.default-table-body-container {
  height: 100%;
  position: relative;
  border: 1px solid $greyE5E5E5;
  margin: 0 0 24px;

  .table-notice{
    display: flex;
    justify-content: end;
    color: $redFA5151;
  }
}

.border-max-record {
  border: 1px solid $redFA5151;
}

.title-table{
  position: sticky;
  top: -4px;
  z-index: 1;

  .text-center {
    white-space: pre-line;
  }
}

.checkbox-center{
  @include center();
  height: 48px;
}

tbody{
  position: relative;
}

tr.record-remove td {
  position: relative;
}

tr.record-remove td:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: red;
  transform: translateY(-50%);
}

tr.record-remove-new td {
  position: relative;
  color: $redE62C2C;
}

tr.record-remove-new td:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  transform: translateY(-50%);
}

.record-new {
  color: $redE62C2C;
}
