@import '../../styles/styles';

.sales-tenant-report {
  min-width: 1280px;
  .bottom-button {
    left: 25px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }

  &__search {
    background-color: $white;
    border-radius: 15px;
    padding: 16px 16px;
    row-gap: 2px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    margin-bottom: 16px;
  }

  &__business-type {
    display: flex;
    flex-direction: row;
  }

  &__input-date {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }

  --input-height: 50px; // css height for input date

  &__label {
    display: flex;
    align-items: center;
    height: $heightInput;
    padding: 0 24px;
    background-color: $white;
    font-weight: $medium-weight;
    color: $blue001440;
    white-space: nowrap;

    @media (min-width: 1920px) {
      height: $maxHeightInput;
    }
  }

  &__label-mark {
    color: $redBC1C42;
  }

  &__table {
    .table-scroll {
      min-height: 610px;
      height: calc(83vh - 150px);
    }

    .table-data__table-main-body td {
      padding: 0.38vh;
    }
  }
}
