@import '../../styles/styles';
@import '../../styles/variable';

.changing-price {
  &__action {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 15px;
    &-item {
      display: flex;
      gap: 16px;
    }
  }

  & .dropdown-container__dropdown-title,
  & .input-container .wrap-input-text .wrap-label-text {
    min-width: 180px;
  }

  &__force-price {
    width: 18%;
  }

  .product-name {
    width: 45%;
    flex-grow: 0;

    .popover-text-label__label {
      min-width: 180px;
      flex-shrink: 1;
    }
  }
}

.bottom-button {
  left: 24px;
}
