@import "../../../styles/styles";

.promotion-table {
  width: 100%;

  &__promotion-table-container {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $violetF6F8FD;
    border-radius: 20px;
  }

  &__table-main-header-wrapper {
    overflow-x: hidden;
    background-color: $blueB0B9D7;
  }

  &__table-header-scroll {
    overflow-y: scroll;
  }

  &__table-header {
    overflow-y: hidden;
  }

  &__table-main-header {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0
  }

  &__icon-sort {
    width: 1.4vw;
    max-width: 30px;
    height: 1.4vw;
    max-height: 30px;
    cursor: pointer;
    opacity: 0.3;
  }

  &__icon-sort-path {
    fill: $blue001440;
  }

  &__icon-sort-current {
    opacity: 1;
  }

  &__icon-sort-desc {
    rotate: 180deg;
  }

  &__red-text {
    color: $redBC1C42;
  }

  tr.record-remove {
    td:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 3px solid $redBC1C42;
      width: 100%;
    }
  }

  &__message_warning {
    display: flex;
    justify-content: flex-end;
    color: $redBC1C42;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    @include ellipsisText();
  }

  &__table-body {
    color: $black464646;
    font-weight: $medium-weight;
    width: 100%;

    tr:nth-child(2n) {
      td {
        background-color: $blueE7EAF0;
      }
    }

    .promotion-table {
      &__no-data {
        color: $redBC1C42;
        @include center();
        margin-top: 32px;
      }
    }

    tr:nth-child(odd) {
      td {
        background-color: $blueF6F8FD;
      }
    }
  }

  &__table-body-empty {
    height: 30px;
  }

  &__row-data:nth-child(2n) {
    background-color: $blueE7EAF0;
  }

  &__row-data:nth-child(odd) {
    background-color: $blueF6F8FD;
  }

  &__table-header {
    background-color: $blueB0B9D7;

    &::-webkit-scrollbar {
      opacity: 0;
      overflow: hidden;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }

    th {
      border-bottom-width: 0;
      font: normal normal $medium-weight var(--input-font-size, 24px) / var(--line-height, 36px) 'Noto Sans JP', sans-serif;
      padding: 6px 1px;
    }
  }

  &__table-main-body {
    width: 100%;
    table-layout: fixed;

    .promotion-table {
      &__no-data {
        color: $redBC1C42;
        @include center();
        margin-top: 32px;
      }
    }
  }

  &__table-scroll {
    background-color: $white;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;

    .promotion-table__row-selected {
      background-color: $blue545F95;

      .promotion-table__cell {
        background-color: $blue545F95;
        color: $white
      }
    }

    &.table {
      margin-bottom: 0;
      padding: 0;

      .table-row_padding-bottom {
        td {
          height: 0;
          background-color: $violetF6F8FD;
        }
      }

      td {
        border-bottom-width: 0;
        font: normal normal $medium-weight var(--input-font-size, 24px) / var(--line-height, 36px) 'Noto Sans JP', sans-serif;
      }

      td {
        color: $black464646;
        padding: 5.7px var(--horizontal-table-padding, 3px);

        @media (min-width: 1280px) {
          padding-top: 5px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1280px) and (min-height: 670px) {
          padding: 6.6px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1360px) {
          padding: 4.7px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1360px) and (min-height: 640px) {
          padding: 4.4px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1600px) {
          padding: 5.1px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1600px) and (min-height: 770px) {
          padding: 6.6px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1920px) {
          padding: 5.7px var(--horizontal-table-padding, 3px);
        }

        @media (min-width: 1920px) and (min-height: 953px) {
          padding: 7px var(--horizontal-table-padding, 3px);
        }
      }
    }
  }

  tr {
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    border-bottom-width: 0;

    th {
      background-color: $blueB0B9D7;
      border: none;
      word-break: break-all;
      color: $blue001440;
      font-weight: $medium-weight;
    }

    td:not(:last-child) {
      border-right: 3px solid $blueB0B9D7;

      @media (max-width: 1919px) {
        border-right: 0.15625vw solid $blueB0B9D7;
      }
    }
  }

  &__cell-text {
    @include ellipsisText();
  }

  &__cell-data {
    @include ellipsisText();
    display: flex;
    align-items: center;
  }

  &__double-input-text {
    @include center();
    gap: 4px;
  }

  &__double-input-text-disabled {
    .promotion-table {
      &__vertical-line {
        background-color: $greyD9DCE1;
      }
    }
  }

  &__tooltip-text {
    visibility: hidden;
    background-color: $grey696969;
    color: $white;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-65%);
    opacity: 1;
    transition: opacity 0.2s;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
    width: max-content;
    white-space: normal;
    word-break: break-all;
    text-align: left;
  }

  &__tooltip-text-before {
    margin-bottom: 8px;
  }

  &__cell {
    &:hover {
      .promotion-table__tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__cell-button {
    margin: auto;
  }
}


