@import '../../../styles/styles';
@import '../../../styles/variable';

.box-container-modal {
  display: flex;
  gap: 30px;
  width: 100%;

  &__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 8px;

    .popover-text-label {
      flex-grow: 0;
    }

    .warning {
      .popover-text-label__text {
        color: $redE90003;
      }
    }

    .data-master-highlight {
      color: $redE90003;
    }

    .success {
      .popover-text-label__text {
        color: $green00B91F;
      }
    }

    .sub-label {
      .popover-text-label__lable {
        padding-left: 50px;
      }
    }

    .special-content-box {
      display: flex;
      gap: 16px;
      align-items: center;
      background-color: $greyD9DCE1;
      border-radius: 16px;
    }

    .special-content {
      width: 100%;
      .popover-text-label__text {
        display: none;
      }
    }
  }

  &__item-left {
    .popover-text-label__lable {
      min-width: 50%;
    }
  }

  &__item-right {
    .popover-text-label__lable {
      min-width: 53%;
    }
  }
}
