@import '../../styles/variable';

.employee-setting {
  &__search {
    display: flex;
    width: calc(100% - 24px);
    background-color: #f6f8fd;
    padding: 8px;
    margin-left: 24px;
    color: #464646;
    border-radius: 15px;
    gap: 24px;
    margin-bottom: 16px;

    &-group {
      display: flex;
      gap: 16px;
    }

    .dropdown-container {
      min-width: 200px;
    }
  }

  .table-data {
    .table-scroll {
      height: calc(100vh - 298px);
    }

    &__table-main-header {
      margin-bottom: 0;
    }
  }

  .table-data:has(.table-data__message_warning) {
    .table-scroll {
      height: calc(100vh - 336px);
    }
  }

  &__list {
    // display: flex;
    color: #464646;
    width: calc(100% - 24px);
    // justify-content: center;
    margin-left: 24px;
    // & td.w-full {
    //   width: 97vw;
    //   padding-top: 16px;
    // }
    & .row_no-data {
      height: 40px;

      & .w-full {
        width: 95vw;
      }

      & .table-common__no-data {
        margin-bottom: 16px;
        font-weight: 500;
      }
    }

    & .row-one-record {
      height: 16px;
    }
  }

  & .default-modal-container__modal-body-content {
    min-height: 285px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60vw;
  }

  & .default-modal-container .dropdown-container__dropdown-button {
    width: 60%;
  }

  & .dropdown-container__dropdown-title,
  & .input-container .wrap-input-text .wrap-label-text,
  & .input-condition-keyword .input-number-container__label {
    width: 40%;
    min-width: 192px;
  }

  .bottom-button {
    left: 30px;

    &__action-button {
      gap: 16px;
    }
  }
}
