@import '../../../styles/variable';
@import '../../../styles/mixins';

* {
  user-select: text;
}

.menu-preset-wrapper {
  .default-modal-container {
    user-select: none;
  }

  .box-button-header {
    // .btn-header {
    //   &:focus-visible {
    //     outline: none;
    //   }
    // }
  }

  .default-modal-container {
    &__modal-body-content {
      .input-container {
        .wrap-input-text {
          height: 60px;
        }
      }
    }
  }

  .layout_code_input, .item-modal {
    .title-name {
      justify-content: start;
      padding-left: 24px;
    }
  }

  .modal-copy-preset {
    .checkbox-store {
      .list-store-item {
        font-weight: 500;
      }
    }
  }

  .modal-copy-preset {
    .item-modal {
      border: 3px solid $blueB0B9D7;
      margin-bottom: 10px;
      padding-bottom: 0;
      border-radius: 15px;
      height: 60px;
      width: fit-content;

      &:hover {
        border-color: $blue001440;
      }

      &:focus-within {
        border: 3px solid $blue001440;
      }

      .title-name {
        background-color: $blueB0B9D7;
        height: 54px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        span {
          color: $blue001440;
          font-weight: 500;
        }
      }

      input {
        height: 53px !important;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: 500;

        &:active {
          background-color: #E7EAF0;
        }
      }
    }

    .wrap-input-text-mark {
      width: 100%;
      margin-bottom: 10px;

      .wrap-label {
        width: 403px;
      }

      .input-date-picker {
        width: 750px;
      }
    }

    .input-container {
      margin-bottom: 10px;

      .wrap-input-text {
        .wrap-label-text {
          width: 403px;
        }
      }

      .input-text {
        width: 750px;
      }
    }
  }
}

.menu-preset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  .right-top {
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
  }

  .table-data:has(.table-data__message_warning) {
    .table-scroll {
      height: calc(100vh - 340px);
    }
  }

  .table-scroll {
    height: calc(100vh - 298px);
  }

  .right-top {
    .list-item-bottom {
      display: flex;
      gap: 50px;

      .item-bottom {
        display: flex;
        align-items: baseline;
        gap: 5px;
        color: $blue0f192f;
        font-weight: 500;

        span {
          flex-shrink: 0;
        }

        .dropdown-container {
          width: 230px;

          &:focus-visible{
            border: 3px solid $blue001440;
          }
        }

        &:nth-child(2) {
          .input-container {
            width: 630px;
          }
        }
      }
    }
  }

  .table-responsive {
    .table-common {
      &__table-header {
        width: 100% !important;
      }
    }
  }

  &__bottom-preset-button {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    box-sizing: border-box;
    position: fixed;
    right: 24px;
    bottom: 24px;
  }
}

.preset-main {
  display: flex;
  gap: 24px;

  .bottom-button {
    left: 25px;
  }

  .sidebar-store {
    &__search-content {
      .item-bottom {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          margin-bottom: 14px;
          display: block;
          font-weight: 500;
        }
      }
    }
  }
}

.preset-main {
  .sidebar-store__button-select.button-normal {
    .button-normal__blue {
      color: #fff;
      width: 180px !important;
      border: 1px solid #545f95;
      height: 50px !important;

      &:hover {
        background: #636fac;
      }

      &:active {
        background: #35417d;
      }
    }
  }
}
