@import '../../styles/variable';

.menu-screen {
  position: relative;
  padding-left: 24px;

  .header-container {
    &__box-button {
      gap: 17px;

      .button_logout {
        font-weight: 500;

        &:hover {
          color: $blue545F95;
          background-color: $blueE3E5F6;
        }

        &:active {
          color: $white;
          background: $blue545F95;

          .icon-path {
            fill: $white;
          }
        }
      }
    }

    &__button-right {
      background-color: $violet3E4762;
      color: $violet02113E;

      .custom-path {
        fill: $violet02113E;
      }

      &:hover {
        background-color: $violet3E4762;
        color: $violet02113E;
      }
    }
  }

  &__btn {
    height: 60px;
  }

  &__menu-screen-container {
    width: 100%;
    padding: 0 44px;

    @media screen and (max-width: 1600px) {
      padding: 0 10px;
    }

    .button-normal {
      .btn-primary {
        width: 215px;
        justify-content: center;
      }

      &:nth-of-type(even) {
        .btn-primary {
          justify-content: inherit;
        }
      }
    }
  }

  &__content-inner {
    width: 100%;

    @media screen and (max-width: 1800px) {
      height: calc(100vh - 200px);
      overflow-y: scroll;
    }
  }

  .bottom-button {
    position: fixed;
    left: 68px;
    height: 90px;
    justify-content: flex-end;
    width: calc(100% - 68px);

    @media screen and (max-width: 1600px) {
      position: fixed;
      left: 35px;
      width: calc(100% - 35px);
    }

    &__search-page-err {
      font-size: 20px;
      color: $redBC1C42;
      font-weight: 500;
      display: flex;
      align-items: center;
      min-width: 360px;
      margin-right: 65px;
      height: 60px;

      @media screen and (max-width: 1180px) {
        margin-right: 10px;
      }
    }

    &__pagging {
      @media screen and (max-width: 1400px) {
        display: flex;
        align-items: flex-start;
        width: 100%;
      }

      .pagging-button,
      .button_redirect {
        &:hover {
          background: #636FAC;
        }

        &:active {
          background: #35417D;
        }

        &:disabled {
          background: #9fa3b9;
        }
      }
    }

    .button_logout {
      &:hover {
        background: #E3E5F6;
      }

      &:active {
        background: #545f95;
        color: #fff;
      }

      .icon-pathch {
        stroke: #545f95;
        transition: stroke 0.3s;
      }
    }

    .button_logout:active .icon-path {
      stroke: #fff;
    }

    &__pagging {
      display: flex;
      gap: 25px;

      .button-normal:nth-child(2) {
        justify-content: center;
      }
    }

    .button_logout, .button_redirect {
      border-radius: 15px;
    }

    .button_redirect {
      border-radius: 15px;
    }

    .pagging-button {
      width: 100px;
      border-radius: 15px;
    }

    &__search-page {
      display: flex;
      align-items: center;
      gap: 21px;

      .search-page-form-err {
        color: $red4E4E4E;
        border: 3px solid $redBC1C42;
        background-color: $redFFE5EA;
      }

      .search-page-form {
        padding-bottom: 0;
        align-items: center;

        .search-page-input {
          text-align: center;
          width: 70px;
          border-radius: 15px;
          padding: 0 15px;
          height: 60px;

          &:hover {
            border: 3px solid $blue001440;
            background-color: $white;
          }

          &:focus {
            border: 3px solid $blue001440;
            background-color: $white;
          }

          &:active {
            border: 3px solid $blue001440;
            background-color: $blueE7EAF0;
          }
        }
      }

      .title-name {
        font-weight: 500;
        font-size: 24px;
        color: $blue001440;
        padding-right: 20px;
      }
    }
  }

  &__content {
    display: flex;
    background-color: $violetB0B9D7;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    width: 100%;
  }

  &__list-button {
    width: 100%;
    display: flex;
    grid-auto-rows: auto;
    gap: 116px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 202px);
    padding: 0 68px;

    @media screen and (max-width: 1810px) {
      padding: 16px 68px;
    }
    @media screen and (max-width: 1800px) {
      gap: 60px;
    }
    @media screen and (max-width: 1400px) {
      padding: 16px 24px;
    }

    .row-button {
      .menu-screen {
        &__btn {
          display: flex;
          align-items: center;
          border: none;
          height: 60px;
          width: 765px;
          padding: 6px 24px;
          border-radius: 12px;
          color: $white;
          justify-content: start;
          font-family: 'Noto Sans JP', sans-serif;
          font-weight: normal;
          font-stretch: normal;
          font-size: 24px;
          line-height: 36px;
          cursor: pointer;
          white-space: nowrap;
          background-color: $blue545F95;

          &:hover {
            color: $white;
            background-color: $blue636FAC;
          }

          &:active {
            color: $white;
            background-color: $blue35417D;
          }

          &:disabled {
            color: $white;
            background-color: $blue545F95;
            opacity: 30%;
            cursor: inherit;
          }
        }
      }
    }

    @media screen and (max-width: 1810px) {
      gap: 30px;
    }

    @media screen and (max-width: 1600px) {
      display: flex;
      grid-auto-rows: auto;
      gap: 30px;
    }

    &__btn {
      height: 60px;
    }
  }

  .row-button {
    @media screen and (max-width: 1810px) {
      width: 48%;

      .menu-screen__item-button {
        .menu-screen {
          &__btn {
            width: 96%;
            margin: 0 auto;
          }
        }
      }
    }
    @media screen and (max-width: 1800px) {
      .menu-screen__list-button {
        gap: 30px;
      }
    }
    @media screen and (max-width: 1200px) {
      width: 48%;

      .menu-screen {
        &__item-button {
          .menu-screen {
            &__btn {
              width: 96%;
            }
          }
        }
      }

      .menu-button-name {
        margin-left: 16px;
      }
    }
    @media screen and (max-width: 1200px) {
      .menu-button-name {
        margin-left: 8px;
      }
    }
  }

  &__item-button {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    .menu-screen {
      &__btn {
        &:hover {
          background: #636FAC;
        }

        &:active {
          background: #35417D;
        }
      }

      &__btn {
        &:disabled {
          background: #545f95;
          opacity: .3;
        }
      }
    }
  }

  &__navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 20px;
  }

  &__hidden-button {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 1920px) {
  .menu-screen {
    .bottom-button {
      position: fixed;
      margin: 24px 0 0;
      justify-content: flex-end;

      .pagging-button {
        width: 80px;
      }
    }
  }
}

@media screen and (max-width: 1698px) {
  .menu-screen {
    .bottom-button__pagging {
      gap: 5px;
    }
  }

  .menu-screen {
    .bottom-button {
      .button_redirect {
        width: 100px;
      }
    }
  }
  .menu-screen__content {
    bottom: 104px;
  }
}

@media (max-width: 1560px) {
  .bottom-button {
    &__action-button {
      .button-icon-text {
        display: block;
      }
    }
  }
}

@media (max-width: 1550px) {
  .menu-screen {
    .bottom-button {
      &__search-page {
        .title-name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1430px) {
  .menu-screen {
    .bottom-button {
      &__search-page {
        .title-name {
          display: none;
        }
      }
    }
  }
  .bottom-button {
    &__navigate-back {
      .button-icon-text {
        display: none;
      }
    }
  }
}

@media (max-width: 1315px) {
  .menu-screen {
    &__list-button {
      gap: 10px;
    }
  }
}
