@import '../../../styles/styles';

.default-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include center();
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-size: 24px;
  line-height: 36px;
  background-color: rgba(102, 102, 102, 0.6);
  white-space: nowrap;
  overflow-y: auto;

  &__modal-content {
    width: fit-content;
    height: fit-content;
    max-width: 98vw;
    max-height: 98vh;
    border-radius: 8px;
    background-color: $white;
  }

  &__modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 68px;
    @include center(space-between);
    color: $white;
    font-size: 36px;
    line-height: 46px;
    padding: 11px var(--modal-hozirontal-padding, 36px);
    font-weight: 600;
  }

  &__modal-body {
    padding: 36px 0;
    max-height: calc(98vh - 68px);
  }

  &__modal-body-scroll {
    overflow-y: auto;
  }

  &__modal-body-padding {
    padding: var(--modal-hozirontal-padding, 36px);
  }

  &__modal-body-content {
    overflow-x: auto;
  }

  &__modal-button-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }
}
