@import "../../styles/styles";

.app-container:has(.page-login) {
  padding-top: 0;

  .view-container {
    padding: 0;
  }
}

.page-login {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $blue001440;

  .input-container {
    width: 532px;
  }

  &__login-wrapper {
    height: 100%;
    width: 100%;
    @include center();
    min-width: 1366px;
    min-height: 600px;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
    opacity: 0.5;
    font-size: 36px;
    font-weight: $bold-weight;
  }

  &__content {
    background-color: rgba(176, 185, 215, 0.3);
    border-radius: 30px;
    padding-bottom: 48px;
    @include center();
    flex-direction: column;
    aspect-ratio: 86/72;
    width: calc(86 / 192 * 100%);

    .button-normal {
      margin-top: 100px;
    }

    .btn-primary {
      color: $blue545F95;
      font-weight: 500;
      font-size: 24px;
      background-color: $white;

      &:hover {
        color: $blue545F95;
        background-color: $blueE3E5F6;
      }

      &:active {
        color: $white;
        background-color: $blue545F95;
      }
    }
  }

  &__text-title {
    font-size: 24px;
  }

  &__list-item {
    display: flex;
    flex-direction: column;

    .input-container {
      position: relative;

      .wrap-error-text {
        position: absolute;
        bottom: -32px;
      }

      .wrap-input-text {
        .wrap-label-text {
          padding: 12px 42px 13px 19px;

        }
      }

      &:last-child {
        padding-top: 30px;
      }
    }


    .input-container {
      .wrap-input-text-enabled {
        .wrap-label-text , .input-text {
          border-width: 0;
          outline: none;
        }


        &.input-text-error {
          .wrap-label-text  {
            border-left-width: 3px;
            border-top-width: 3px;
            border-bottom-width: 3px;
          }

          .input-text {
            border-right-width: 3px;
            border-top-width: 3px;
            border-bottom-width: 3px;
          }
        }

        .label-text {
          font-size: 24px;
          font-weight: 500;
        }
      }

      .wrap-error-text {
        display: flex;
        justify-content: center;
        padding-left: 135px;
      }

      .input-text {
        &::placeholder {
          font-size: 24px;
        }
      }
    }
  }

  &__button-login {
    @include center();
    width: 100%;
    margin-top: 80px;

    @media (max-height: 768px) {
      margin-top: 30px;
    }

    .button-icon-text {
      font-weight: $medium-weight;
    }
  }

  &__logo-left, &__logo-right {
    width: calc(53 / 192 * 100%);
    padding: 0 40px;
    flex-shrink: 0;
  }

  &__error-login {
    line-height: 18px;
    color: $redFA5151;
    font-size: 18px;
    height: 18px;
    margin-bottom: 30px;
    @include center();
  }

  .dropdown-container__dropdown-title {
    width: 180px;
    padding: 12px 108px 13px 19px;
  }

  .dropdown-container {
    margin-bottom: 30px;
    font-size: 24px;

    &__dropdown-item {
      font-size: 24px;
    }

    &__dropdown-button {
      font-size: 24px;

      &:active {
        background-color: $blueE7EAF0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    &__icon-path {
      fill: $blue001440;
    }
  }
}
