@import "../../styles/styles";

.table-common {
  &__table-common-container {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $white;
    border-radius: 20px;
  }

  &__red-text {
    color: $redBC1C42;
    height: 100%;
  }

  tr.record-remove {
    td:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 3px solid $redBC1C42;
      width: 100%;
    }
  }

  &__message_warning {
    display: flex;
    justify-content: flex-end;
    color: $redBC1C42;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
    @include ellipsisText();
  }

  &__no-data {
    color: $redBC1C42;
    @include center();
    margin-top: 32px;
  }

  &__table-body {
    color: $black464646;
    font-weight: $medium-weight;
    display: block;
    position: relative;
    width: 100%;

    tr:nth-child(2n) {
      td {
        background-color: $blueE7EAF0;
      }
    }
    tr:nth-child(odd) {
      td {
        background-color: $blueF6F8FD;
      }
    }
  }

  &__row-data:nth-child(2n) {
    background-color: $blueF6F8FD;
  }

  &__table-body-scroll {
    overflow-y: auto;
  }

  &__table-scroll {
    .table-common__row-selected {
      background-color: $blue545F95;

      .table-common__cell {
        background-color: $blue545F95;
        color: $white;
      }
    }

    .table-common__cell {
      color: $black464646;
    }
  }

  &__table-header {
    display: block;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $blueB0B9D7;

    &::-webkit-scrollbar {
      opacity: 0;
      overflow: hidden;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  tr {
    width: 100%;
    display: flex;

    th {
      background-color: $blueB0B9D7;
      border: none;
      flex: 1 1 auto;
      @include center();
      word-break: break-all;
      color: $blue001440;
      font-weight: $medium-weight;
    }

    td:not(:last-child) {
      border-right: 3px solid $blueB0B9D7;
    }
  }

  &__table-scroll {
    &.table {
      margin-bottom: 0;
      padding: 0;

      .table-row_padding-bottom {
        td {
          height: 0;
          background-color: $white;
        }
      }

      td,
      th {
        padding: 6px 16px;
        display: flex;
        align-items: center;
        border-bottom-width: 0;
      }
    }
  }

  &__cell-text {
    @include ellipsisText();
  }

  &__cell-data {
    @include ellipsisText();
    display: flex;
    align-items: center;
  }

  &__edit-before-value {
    @include ellipsisText();
    height: 36px;
  }

  &__tooltip-text {
    visibility: hidden;
    background-color: $grey696969;
    color: $white;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-65%);
    opacity: 1;
    transition: opacity 0.2s;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
    width: max-content;
    white-space: normal;
    word-break: break-all;
    text-align: left;
  }

  &__tooltip-text-before {
    margin-bottom: 8px;
  }

  &__cell {
    position: relative;
    display: inline-block;

    &:hover {
      .table-common__tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


