@import '../../styles/styles';

.master-category {
  width: 100%;
  padding-left: 24px;

  .table-data {
    margin-top: 16px;

    .table-scroll {
      height: calc(100vh - 430px);

      .button-expanding {
        cursor: pointer;

        svg {
          fill: #000000;
        }

        &:focus-visible {
          border: none;
          outline: none;
          svg {
            fill: $blue545F95;
          }
        }
      }
    }
  }

  .container-category-modal {
    .default-modal-container__modal-content {
      max-width: 1500px;

      .default-modal-container__modal-body {
        min-height: 634px;
      }
    }

    .table-data {
      margin-top: 8px;

      .table-scroll {
        min-height: 505px;
        height: 505px;
      }

      .table-data__table-body {
        [data-index] .proceed {
          td {
            background-color: $greenDAF5CD;
          }
        }
      }
    }
  }

  --input-height: 50px; // css height for input date

  &__conditions-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: $white;
    border-radius: 15px;
    padding: 8px;

    .conditions-search-container {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .conditions-search-item {
        display: flex;
        align-items: center;
        gap: 16px;

        &.time-service {
          .dropdown-container {
            width: 500px;
          }
        }

        .wrap-input-unit {
          display: flex;
          align-items: center;
          gap: 8px;

          .input-member-deduct {
            margin-left: 6px;
          }

          &.input-unit-custom {
            margin-left: 6px;
          }

          &.unit-percent {
            .input-container {
              .input-text {
                max-width: 65px;
              }

              &.input-category {
                .wrap-label-text {
                  min-width: unset;
                }
              }
            }
          }

          .hierarchicalView-btn {
            margin-left: 8px;
          }
        }

        .input-container {
          max-width: 300px;

          .wrap-label-text {
            min-width: 168px;
          }

          .input-text {
            width: 130px;
          }
        }

        .wrapButton {
          display: flex;
          align-items: center;
          gap: 16px;
        }

        .explantText {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $blue001440;
          font-weight: $medium-weight;
        }

        .unitText {
          color: $blue001440;
          font-weight: $medium-weight;
        }
        &.margin-fit-layout {
          margin-left: 176px;
        }
        &.conditions-search-date {
          .date-picker {
            .label {
              min-width: 120px;
            }

            &:first-child {
              max-width: 270px;

              .wrap-label {
                max-width: 96px;
              }
            }
            &:nth-child(2) {
              max-width: 158px;
            }
          }
        }

        .time-picker {
          width: 80px;
        }

        .dropdown-container {
          &__dropdown-button {
            min-width: 266px;
          }
        }
      }

      &.conditions-search-right {
        .input-container {
          max-width: 410px;
        }
      }
    }
  }

  .wrap-button-selected {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
