@import '../../styles/variable';
@import '../../styles/mixins';

.app-container {
  .view-container:has(.menu-user-wrapper) {
    padding-top: 16px;
  }
}

.default-modal-container__modal-body-content {
  overflow-x: unset;
}

.menu-user-wrapper {
  .default-modal-container {
    --input-height: 50px;
    --input-horizontal-padding: 16px;
    --dropdown-button-horizontal-padding: 16px;

    .store_select {
      .dropdown-container__dropdown-list {
        top: 180px;
      }
    }

    &__modal-body-content {
      min-height: 400px;
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 60vw;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .dropdown-container {
      &__dropdown-button {
        width: 60%;
      }

      &__dropdown-title {
        width: 40%;
      }
    }

    .wrap-input-text {
      .wrap-label {
        width: 40%;
      }
    }
  }

  .input-container {
    .wrap-input-text {
      .wrap-label-text {
        width: 40%;
      }
    }
  }


  .user-setting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;

    .table-data:has(.table-data__message_warning) {
      .table-scroll {
        height: calc(100vh - 340px);

        @media (max-width: 1140px) {
          height: calc(100vh - 398px);
        }
      }

      .table-data__table-main-body {
        .table-data__cell {
          padding-top: 4.5px;
          padding-bottom: 4.5px;
        }
      }
    }

    .table-scroll {
      height: calc(100vh - 298px);

      @media (max-width: 1140px) {
        height: calc(100vh - 356px);
      }
    }

    .table-data__table-main-body {
      .table-data__cell {
        padding-top: 3.75px;
        padding-bottom: 3.75px;
      }
    }

    @media (max-width: 1400px) {
      .header-container {
        &__user-detail,
        &__data-ouput {
          gap: 4px;
        }

        &__user-detail {
          &:nth-child(2) {
            display: none;
          }
        }

        &__box-button {
          margin-left: 0;
        }

        .box-button-header {
          margin: 0 4px;
        }
      }

      .truncate-container {
        max-width: 230px;
      }
    }

    @media (max-width: 1200px) {
      .header-container {
        &__user-detail {
          display: none;
        }
      }
    }

    @media (max-width: 960px) {
      .header-container__brand-title {
        max-width: calc(100vw - 430px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__search {
      background-color: white;
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 8px;
      gap: 26px;

      @media (max-width: 1600px) {
        gap: 8px;
      }

      @media (max-width: 1140px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;

        .user-setting__search-group {
          width: 100%;
        }

        .wrap-label-text {
          width: 146px;
        }

        .user-setting__search-group:nth-child(3) {
          grid-column: 1 / -1;

          .dropdown-container__dropdown-title {
            width: 146px;
            flex-shrink: 0;
          }
        }
      }
    }

    &__search-group {
      width: 35%;
      display: flex;
      align-items: baseline;
      gap: 10px;
      color: $blue0f192f;
      font-weight: 500;

      .dropdown-container {
        width: 192px;

        &:focus-visible {
          border: 3px solid $blue001440;
        }
      }

      .input-container {
        flex: 1;
        width: 70%;
      }

      &:nth-child(3) {
        .dropdown-container {
          flex: 1;
          min-width: 160px;
        }
      }

      @media (max-width: 1600px) {
        --label-horizontal-padding: 12px;
        --horizontal-pading: 8px;

        .dropdown-container {
          width: 180px;

          &__dropdown-button {
            gap: 4px;
          }
        }

        .dropdown-container__dropdown-title {
          padding: 12px;
        }
      }

      @media (max-width: 1360px) {
        .dropdown-container {
          width: 136px;
        }
      }
    }
  }

  .option-custom {
    position: relative;
    margin-bottom: 20px;
  }

  .select-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 0 10px;
    position: relative;
    height: 42px;
  }

  .select-input--multiple {
    height: auto;
    min-height: 42px;
    flex-wrap: wrap;
  }

  .select-click {
    flex: 1;
    height: 42px;
  }

  .select-input::before {
    position: absolute;
    content: '';
    right: 8px;
    top: 18px;
    border-top: 5px solid #252525;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .select-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #84ce3f;
    flex-basis: 30px;
  }

  .select-title {
    color: #252525;
  }

  .select-title.placeholder {
    color: #ccc;
  }

  .select-list {
    border: 1px solid #ccc;
    border-top: none;
  }

  .select-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  .select-item:hover {
    background: #eee;
  }

  .selected-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 42px;
    width: 100%;
  }

  .selected-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 5px;
  }

  .selected-item span {
    margin-right: 5px;
  }
}
