@import '../../styles/mixins';
@import '../../styles/variable';

.csv-enable {
  cursor: pointer;
  .csv-icon {
    fill: $white;
  }

  &:hover {
    .csv-icon {
      fill: $blueE3E5F6;
    }
  }
  &:active {
    .csv-icon {
      fill: $blue545F95;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.csv-enable:hover {
  opacity: 0.8;
}

.csv-disabled {
  opacity: 0.3;
  .csv-icon {
    fill: $white;
  }

  &:disabled {
    opacity: 0.3;
  }
}
